.shop-container {
    grid-template-columns: 4fr 1fr;
    position: relative;
}

.product-container {
    padding: 5rem;
    padding-right: 1rem;
}

.product-summary {
    height: 100vh;
    padding: 1rem;
    background-color: rgba(255, 153, 0, 0.3);
    position: sticky;
    top: 0;
}

@media screen and (max-width: 768px) {
    .product-container {
        padding: 2rem;
    }

    .shop-container {
        grid-template-columns: 3fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .product-container {
        padding: 1rem;
    }
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }
}